<?xml version="1.0" encoding="utf-8"?><!-- Copyright (C) 2017 Baidu, Inc. All Rights Reserved. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.mapclient.liteapp">
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--获取网络状态，用于在线算路与离线算路之间的切换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问WIFI网络状态，用于判断网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--写入扩展存储，向扩展卡写入数据，用于离线数据的写入 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于ugc事件上报拍照录像 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 用于ugc事件上报录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 用于导航中省电设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 后台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 诱导悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_OVERLAY_PERMISSION" />


    <!-- OpenGLES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <application
        android:name="com.baidu.mapclient.liteapp.ONApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="48ae76de3f" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QkOLyEUWclF4VTvpwD01p3IxgVsknGLP" />
        <activity android:name=".activity.DemoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DemoNaviSettingActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".activity.DemoGuideActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/title_route_guide_demo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".activity.DemoExtGpsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".activity.DemoDrivingActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".activity.DemoCruiserActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".activity.DemoDrawRectActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".activity.DemoAnalogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".activity.DemoSelectNodeActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>

        <service android:name=".ForegroundService" />
    </application>
</manifest>